<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Запись - {{info.note}}</title>
</head>
<body>
<ul>
    <li><b>Номер записи:</b> {{info.note}}</li>
    <li><b>Id животного:</b> {{info.idx}}</li>
    <br><hr color="MediumPurple" width="300" align="left">
    <li><b>Кличка животного:</b> {{info.name}}</li>
    <li><b>Порода:</b> {{info.breed}}</li>
    <li><b>Окрас:</b> {{info.color}}</li>
    <li><b>Дата рождения:</b> {{info.birthday}}</li>
    <br><hr color="MediumPurple" width="300" align="left">
    <li><b>Возраст на момент прибытия:</b> {{info.age}}</li>
    <li><b>Программа:</b> {{info.subtype}}</li>
    <li><b>Текущий статус:</b> {{info.type}}</li>
    <li><b>Месяц прибытия:</b> {{info.month}}</li>
    <li><b>Год прибытия:</b> {{info.year}}</li>
</ul>
</body>
</html>